.desktop9-temple-tanah-lot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop9-temple-tanah-lot-desktop9-temple-tanah-lot {
  width: 100%;
  height: 1502px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.desktop9-temple-tanah-lot-pic {
  top: -15px;
  left: -27px;
  width: 1955px;
  height: 1502px;
  opacity: 0.50;
  position: absolute;
  border-radius: 2px;
}
.desktop9-temple-tanah-lot-text {
  top: 492px;
  left: 1246px;
  color: rgba(255, 255, 255, 1);
  width: 581px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop9-temple-tanah-lot-text02 {
  top: 588px;
  left: 1107px;
  color: rgba(255, 255, 255, 1);
  width: 754px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop9-temple-tanah-lot-frame5 {
  top: 1328px;
  left: 617px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop9-temple-tanah-lot-group2 {
  top: 1060px;
  left: 1302px;
  width: 238px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop9-temple-tanah-lot-text04 {
  top: 14px;
  left: 57px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop9-temple-tanah-lot-rectangle5 {
  top: 0px;
  left: -6px;
  width: 1945px;
  height: 129px;
  position: absolute;
}
.desktop9-temple-tanah-lot-text06 {
  top: 49px;
  left: 1302px;
  color: rgba(255, 255, 255, 1);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop9-temple-tanah-lot-text08 {
  top: 46px;
  left: 1655px;
  color: rgba(255, 255, 255, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop9-temple-tanah-lot-text10 {
  top: 49px;
  left: 1492px;
  color: rgba(255, 255, 255, 1);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop9-temple-tanah-lot-image5 {
  top: 32px;
  left: 32px;
  width: 183px;
  height: 85px;
  position: absolute;
}
.desktop9-temple-tanah-lot-unsplashz-atdm3xb-obi {
  top: 275px;
  left: 88px;
  width: 398px;
  height: 233px;
  position: absolute;
  border-radius: 40px;
}
.desktop9-temple-tanah-lot-unsplash-sl-f40j-iv82s {
  top: 267px;
  left: 530px;
  width: 430px;
  height: 241px;
  position: absolute;
  border-radius: 40px;
}
.desktop9-temple-tanah-lot-unsplash48ner-zqc-hgo {
  top: 540px;
  left: 254px;
  width: 518px;
  height: 233px;
  position: absolute;
  border-radius: 40px;
}
.desktop9-temple-tanah-lot-rectangle7 {
  top: 887px;
  left: 115px;
  width: 796px;
  height: 345px;
  position: absolute;
}
.desktop9-temple-tanah-lot-text12 {
  top: 1028px;
  left: 421px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
